@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Prompt', sans-serif;
  background-color: #fdffbc;
}
